.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 95lvh;
  padding: var(--header-height) var(--page-margin) var(--space-lg);
  text-align: left;
  gap: var(--space-md);
  background: linear-gradient(0deg, var(--color-background) 0%, var(--color-background-secondary) 100%);
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  max-width: 75%;
  transition: opacity var(--anim-lg), translate var(--anim-lg);
}

.sectionTitle[data-animate-load="true"] {
    opacity: 0;
    translate: 0 60%;
}

.heading {
  composes: h1 from '../../index.css';
}

.subheading {
  composes: h6 from '../../index.css';
}

.button {
  transition: opacity var(--anim-lg), translate var(--anim-lg);
  transition-delay: 0.3s;
}

.button[data-animate-load="true"] {
  opacity: 0;
  translate: 0 60%;
}

@media screen and (max-width: 768px) {
  .sectionTitle {
    max-width: 100%;
  }
  
}