.viewportAnimations {
  padding: var(--space-2xl) var(--page-margin);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: var(--space-md);
  min-height: 100lvh;
  overflow: hidden;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  max-width: 60%;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--space-sm);

}

.card {
  aspect-ratio: 4 / 5;
  max-height: 60lvh;
  background: var(--gradient-primary);
  color: var(--gradient-primary-contrast);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-sm);
  align-items: center;
  text-align: center;
  padding: var(--space-xl) var(--space-md);
  opacity: 1;
  translate: 0 0;
  rotate: 0deg;
  scale: 1;
  filter: blur(0px);
  transition: all var(--anim-lg);
  
  &[data-animate="true"]:nth-child(1) {
    translate: 60px 0;
    rotate: 85deg;
    scale: 0.1;
    opacity: 0;
  }

  &[data-animate="true"]:nth-child(2) {
    transform: skew(23deg, 8deg);
    scale: 1.1;
    opacity: 0;
  }

  &[data-animate="true"]:nth-child(3) {
    filter: blur(40px);
    translate: 0 60px;
    opacity: 0;
  }

  &:nth-child(1) {
    transition-delay: 0s;
  }

  &:nth-child(2) {
    transition-delay: 0.2s;
  }

  &:nth-child(3) {
    transition-delay: 0.6s;
  }
  
}

.emoji {
  font-size: 7em;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.cardTitle {
  composes: h5 from '../../index.css';
  /* color: var(--color-background); */
}

.cardDescription {
  composes: caption from '../../index.css';
  /* color: var(--color-background-secondary); */
}

@media screen and (max-width: 768px) {

  .sectionTitle {
    max-width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
  }

  .card {
    max-height: unset;
    justify-content: center;
    aspect-ratio: unset;
    max-width: 400px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      transition-delay: 0s;
    }
  }

}