.scrollAnimations {
  min-height: 300lvh;
  /* background-color: var(--color-background-secondary); */
  /* color: var(--color-foreground); */
}

.scrollContainer {
  width: 100%;
  position: sticky;
  height: 100lvh;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  /* rotate: -2deg; */
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xs);
  text-align: center;
  max-width: 40ch;
}

.cardWrapper {
  padding: 0 var(--page-margin);
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
  align-self: flex-start;
  --scroll-threshold: 0.3;
  translate: calc((-100% + 100vw) * var(--scroll-ratio));
}

.card {
  aspect-ratio: 2 / 3;
  width: 25vw;
  min-width: 200px;
  background-color: var(--color-brand-secondary);
  color: var(--color-brand-secondary-contrast);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: flex-end; */
  padding: var(--space-xs) var(--space-xs);
  gap: var(--space-2xs);
}

.cardEmoji {
  font-size: 2em;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}

.cardTitle {
  composes: h6 from '../../index.css';
}

.cardDescription {
  /* composes: caption from '../../index.css'; */

}