.scrollAnimations {
  min-height: 300lvh;
}

.scrollContainer {
  width: 100%;
  position: sticky;
  height: 100lvh;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  padding: var(--header-height) 0 var(--space-lg);
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xs);
  text-align: center;
  max-width: 80%;
  padding: 0 var(--page-margin);
}

.cardWrapper {
  max-height: 60lvh;
  padding: 0 var(--page-margin);
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--space-sm);
  justify-self: stretch;
  align-self: flex-start;
  translate: calc((-100% + 100vw) * var(--scroll-ratio));
}

.card {
  aspect-ratio: 4 / 5;
  min-width: 0px;
  min-height: 0px;
  max-height: 100%;
  background: var(--gradient-secondary);
  color: var(--gradient-secondary-contrast);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--space-sm) var(--space-xs);
  gap: var(--space-2xs);
}

.cardEmoji {
  font-size: 2em;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  width: 100%;
}

.cardTitle {
  composes: h5 from '../../index.css';
}

@media screen and (max-width: 768px) {
  .sectionTitle {
    max-width: 100%;
  }

  .cardWrapper {
    max-height: 50lvh;
  }
}