* {
  /* Browser Fixes */
  box-sizing: border-box;
  min-width: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  color: var(--color-foreground);
  background-color: var(--color-background);

  /* Border Radius */
  --radius-sm: 5px;
  --radius-lg: 10px;
  --radius-rounded: 100vw;


  /* Icons */
  --icon-sm: 10px;
  --icon-md: 18px;
  --icon-lg: 24px;

}


html {
  hanging-punctuation: first last;
  color-scheme: dark light;
}

/* Typography Styles */



body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  min-height: 100lvh;
  margin: 0;
  padding: 0;
}

/* Buttons */

button,
input[type="submit"] {
  --font-size-desktop: 18;
  --font-size-mobile: 14;
  border-radius: var(--button-radius);
  padding: var(--space-2xs) var(--space-sm);
  border: 1px solid transparent;
  font-weight: 400;
  font-family: var(--font-secondary);
  letter-spacing: -0.02em;
  background-color: var(--color-brand);
  color: var(--color-brand-contrast);
  cursor: pointer;
  transition: color var(--anim-sm), background-color var(--anim-sm);
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--color-brand-secondary);
  color: var(--color-brand-secondary-contrast);
}

button:focus-visible,
input[type="submit"]:focus-visible {
  outline: 4px auto var(--color-focus);
}

button.button--secondary {
  background-color: var(--color-brand-secondary);
  color: var(--color-brand-secondary-contrast);
}

button.button--secondary:hover {
  background-color: var(--color-brand);
  color: var(--color-brand-contrast);
}


/* Images */

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  min-width: 0px;
}


/* Lenis */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}